<section class="ifmo-xblock-student xmodule_display xmodule_CapaModule " data-student-state="{{student_state}}" {% if is_staff %}data-is-staff="True" data-url-grades-data="{{ get_grades_data }}"{% endif %}>

    <script type="text/template" class="ifmo-xblock-template-base">

        <h2 class="problem-header"><%= meta.name %></h2>

        <div class="problem-progress"><%= score.string %></div>

        <div><%= meta.text %></div>


        {% if not is_studio %}
            {% if allow_checking %}
                <div class="action">
                    <input type="button" class="ant-start-lab" value="Выполнить" />
                    <input type="button" class="ant-check-lab" value="Проверить" title="Нажмите, если Ваш рейтинг не обновился после прохождения задания"/>
                </div>

                <div class="htmlacademy-error">Возникла ошибка при обновлении Вашего рейтинга:
                    <span class="htmlacademy-error-text"></span>.<br />
                    Пожалуйста, сообщите нам об этом на <a href="mailto:openedu@cde.ifmo.ru">openedu@cde.ifmo.ru.</a>
                    Приносим свои извинения за возможные неудобства.
                </div>
            {% endif %}
        {% else %}
            <p><b><i>Элементы управления недоступны при редактирования блока в Студии.</i></b></p>
        {% endif %}


    </script>

    <div class="ifmo-xblock-content problem">
        {{student_state}}
    </div>

    {% if is_staff %}
        {% if not is_studio %}

    <hr/>

    <div class="wrap-instructor-info">
        <a class="instructor-info-action instructor-info-action-info" href="#{{id}}-tools-modal" id="{{id}}-staff-button">Инструменты инструтора</a>
        <a class="instructor-info-action" href="#{{ id }}-debug-modal" id="{{id}}-debug-button">Отладочная информация</a>
        <a class="instructor-info-action" href="#{{id}}-tasks-modal" id="{{id}}-show-tasks-button">Выгрузка статистики</a>
    </div>

    <section aria-hidden="true" class="modal staff-modal" id="{{ id }}-debug-modal" style="width: 800px">
        <div class="inner-wrapper" style="color: black">
            <header><h2>Отладка</h2></header>
            <br/>
            <div id="debug-info">
                <pre>{{state}}</pre>
                <div style="margin-top: 10px">
                    URL для запроса академией обновления рейтинга, его необходимо вписать в админку академии<br />
                    <textarea style="width: 100%; height: 90px" disabled="disabled">{{ check_by_academy_url }}</textarea>
                </div>
            </div>
        </div>
    </section>

    <section aria-hidden="true" class="modal staff-modal" id="{{id}}-tools-modal" style="width: 800px">
        <div class="inner-wrapper" style="color: black">
            <header><h2>Инструменты инструктора</h2></header>
            <div>&nbsp;</div>
            <div>
                <label for="{{id}}-staff-user-input">Имя пользователя: </label>
                <input type="text" id="{{id}}-staff-user-input" name="user">
                <input type="button" value="Получить" class="button staff-get-state-btn" id="{{id}}-staff-get-state-button"/>
                <input type="button" value="Сбросить" class="button staff-reset-state-btn" id="{{id}}-staff-reset-state-button"/>
                <input type="button" value="Перепроверить" class="button staff-update-state-btn" id="{{id}}-staff-update-state-button"/>
            </div>
            <hr/>
            <div id="{{id}}-staff-info">
                <p>Состояние пользователя</p>
                <div class="staff-info-container" style="max-height: 600px; overflow-y: scroll;">
                </div>
            </div>
        </div>
    </section>

    <section aria-hidden="true" class="modal staff-modal" id="{{id}}-tasks-modal" style="width: 800px">
        <div class="inner-wrapper" style="color: black">
            <header><h2>Выгрузка статистики</h2></header>
            <div>&nbsp;</div>
            <p>
                <input type="button" value="Список оценок" onclick="window.location=$('#{{id}}-staff-info-grades-data').val()"/>
            </p>
            <hr/>
            <p>
                <label for="{{id}}-staff-info-grades-data">Список оценок:</label> <textarea id="{{id}}-staff-info-grades-data" class="staff-info-grades-data" cols="70" style="height: 60px">N/A</textarea>
            </p>
        </div>
    </section>

        {% endif %}
    {% endif %}

</section>