<div class="ifmo-xblock-editor" data-metadata="{{ metadata }}">

    <script type="text/template" class="ifmo-xblock-template-base">

        <div class="wrapper-comp-settings is-active" data-metadata="">
            <ul class="list-input settings-list">

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label">Display name</label>
                        <input class="input setting-input" type="text" name="display_name" value="<%= display_name %>" />
                    </div>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label">Weight</label>
                        <input class="input setting-input" type="text" name="points" value="<%= points %>" />
                    </div>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label">Description</label>
                        <textarea class="input setting-input" name="content"><%= content %></textarea>
                    </div>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label">Course element</label>
                        <input class="input setting-input" type="text" name="course_element" value="<%= course_element %>" />
                    </div>
                    <span class="tip setting-help">Номер раздела в курсе</span>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label">Course name</label>
                        <input class="input setting-input" type="text" name="course_name" value="<%= course_name %>" />
                    </div>
                    <span class="tip setting-help">Название текущей итерации курса</span>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label">Iteration ID</label>
                        <input class="input setting-input" type="text" name="iteration_id" value="<%= iteration_id %>" />
                    </div>
                    <span class="tip setting-help">Используется в api, необходимо получить в админке академии</span>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label">Lab URL</label>
                        <input class="input setting-input" type="text" name="lab_url" value="<%= lab_url %>" />
                    </div>
                    <span class="tip setting-help">URL для перехода в академию</span>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label">API URL</label>
                        <input class="input setting-input" type="text" name="api_url" value="<%= api_url %>" />
                    </div>
                    <span class="tip setting-help">URL для запроса в API академии</span>
                </li>

                <li class="field comp-setting-entry">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label">Secret key</label>
                        <input class="input setting-input" type="text" name="secret_key" value="<%= secret_key %>" />
                    </div>
                    <span class="tip setting-help">Ключ для хеширования запросов</span>
                </li>

            </ul>
        </div>

    </script>

    <div class="ifmo-xblock-content"></div>

</div>